<%- include('partials/head.ejs') %>
<body>
<%- include('partials/navbar.ejs') %>

<div class="container">
    <h1>Home Page - <%= 4 + 5 + 1 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate cum architecto accusantium sit modi mollitia, ipsam illo vero, molestias in officia adipisci aliquid est? Nulla accusantium esse minus dolore nisi!
    </p>
    <%= "Hello, World!".toUpperCase() %>

<%- include('partials/footer.ejs') %>
</div>